<rename this file to .env and fill in your API key, then delete this line>
API_KEY=your_spoonacular_api_key
OPENAI_API_KEY=your_openai_api_key
MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
