body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 18px;
}

b {
    margin-right: 20%;
    margin-left: 20%;
}
label {
    font-size: 18px;
}

span {
    font-size: 22px;
}

td,
thead {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

#search-box {
    margin: 0 auto;
    width: 50%;
    padding: 1rem;
    border: 1px solid #ccc;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

textarea {
    resize: none;
}
